<nav class="nav collapsible">
    <a class="nav__brand" href="/"><img src="/images/logo.svg" alt="logo" /></a>
    <svg class="icon icon--white nav__toggler">
      <use xlink:href="../icons/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="https://github.com/ProgrammingWithOsku">VPS</a></li>
      <li class="nav__item"><a href="https://github.com/ProgrammingWithOsku">Hosting</a></li>
      <li class="nav__item"><a href="https://github.com/ProgrammingWithOsku">DOMAIN</a></li>
      <li class="nav__item"><a href="https://github.com/ProgrammingWithOsku">Pricing</a></li>
    </ul>
  </nav>