<div class="card testimonial">
    <div class="grid grid--1x2">
      <div class="testimonial__image">
        <img src="/images/Osku.jpg" alt="A happy, smiling developer" />
        <span class="icon-container icon-container--accent">
          <svg class="icon icon--white icon--small">
            <use xlink:href="../icons/sprite.svg#quotes"></use>
          </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote__text">
          Osku's portfolio showcases a deep mastery of HTML and CSS. His work
          is clean, modern, and technically impressive. Each component
          demonstrates attention to detail and an intuitive understanding of
          design principles. His approach to web development reflects
          professionalism and a strong grasp of responsive design, making him
          an invaluable asset. If you're looking for a software engineer who
          can turn vision into reality, look no further!" — Osku, Software
          Engineer from Finland.
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="../icons/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Osku</h3>
              <p class="quote__organiztion">Knowit Soultion Oy</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>